<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="Free Web tutorials" />
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta name="author" content="John Doe" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link href="" rel="icon" />

    <!-- CSS Links -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" />

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-md text-center">
        <a class="navbar-brand" href="/">Navbar</a>
      </div>
    </nav>

    <div class="container mt-3">
      <div class="row">
        <div class="col-md-4">
          <h2 class="text-white bg-info text-center p-3">
            Update Student Details
          </h2>
          <br />

          <form action="/update/{{d.id}}" method="POST">
            {% csrf_token %}

            <div class="form-group">
              <input class="form-control mt-2" type="text" placeholder="Enter the Student Name" name="name" value="{{d.name}}" required>
            </div>

            <div class="form-group">
              <input class="form-control mt-2" type="email" placeholder="Enter the Student Email" name="email" value="{{d.email}}" required>
            </div>

            <div class="form-group">
              <input class="form-control mt-2" type="number" placeholder="Enter the Student Age" name="age" value="{{d.age}}" required>
            </div>

            <div class="form-group mt-2">
              <select id="gender" class="form-control" name="gender" required>
                <option selected>{{d.gender}}</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>

            <div class="d-grid gap-2 mt-2">
              <button class="btn btn-success" type="submit">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
